<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="img/icon.png">
    <title>About</title>
</head>
<body>
     <div class="main-content">
        {{>header}}
        <img src="img/me.jpeg" class="portrait">
        <p>This site was created by Flavio Vicentini. It's uses data from mapbox.com and weatherstack.com!</p>
    </div>
    {{>footer}}
</body>
</html>